:root {
  --vp-font-family-base: 'Libre Caslon Text', 'STDongGuanTi', serif;
  --vp-font-family-mono: 'DM Mono', 'STDongGuanTi', monospace;
  --vp-doc-top-height: 5rem;
}

#VPSidebarNav {
  margin-top: var(--vp-doc-top-height);
}
